@import 'libs/normalize';
@import 'libs/fonts';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    box-sizing: border-box;
}

.section {
    box-sizing: border-box;
    &_dark {
        background-color: $bg-dark;
    }
    &_title {
        font-family: "Forum" ,serif;
        margin: 0;
        font-size: $font1;
        font-weight: normal;
        line-height: 90px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &_title-fz32 {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
    }
    &_title-gold {
        color: $font-gold;
    }
    &_subtitle {
        font-size: $font2;
    }
    &_title-underline {
        position: relative;
        @include divider;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    :hover {
        color: $font-gold;
    }
    &:hover {
        path {
            fill: $font-gold;
        }
    }
    &-icon {
        width: 50px;
        height: 34px;
        margin-bottom: 6px;
        path {
            transition: 0.5s;
        }
      }
    &-text {
        font-family: "Forum", serif;
        font-size: 28px;
        line-height: 50px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: 0.5s;
    }
}

.streetview {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

  
@import 'block/nav';
@import 'block/header';
@import 'block/welcome';
@import 'block/visiting';
@import 'block/explore';
@import 'block/video';
@import 'block/gallery';
@import 'block/tickets';
@import 'block/form';
@import 'block/paralax';
@import 'block/contacts';
@import 'block/footer';
@import 'block/media';