.contacts {
    min-height: 963px;
    padding: 75px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 103px;
        font-weight: 300;
        font-size: 22px;
    }
    &__subtitle {
        margin-top: 10px;
        margin-bottom: 38px;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }
    &__address, &__phone, &__mail {
        margin-top: 20px;
    }
}