.explore {
    min-height: 865px;
    padding: 90px 0 75px 0;
    &__wrapper {
        display: flex;
        column-gap: 60px;
    }
    &__title {
        color: #FFFFFF;
        line-height: 64px;
        &:before {
            bottom: -37px;
        }
    }
    &__text {
        margin-top: 116px;
        font-weight: 300;
        font-size: 22px;
        line-height: 39px;
        color: #FFFFFF;
        span {
            color: $font-gold;
        }
    }
}