.footer {
    min-height: 300px;
    padding: 75px 0 50px 0;
    &__container {
        display: flex;
        column-gap: 145px;
    }
    &__nav-wrapper {
        width: 366px;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto);
        column-gap: 150px;
    }
    &__divider {
        width: 100%;
        height: 3px;
        margin-top: 38px;
        background-color: #666666;
    }
    &__copyrights {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 200;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 2px;
        color: #FFFFFF;
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}
.nav__social {
    display: flex;
    width: 374px;
    margin-left: 215px;
    align-items: flex-end;
    justify-content: space-between;
    &-icon path {
        transition: 0.5s;
    }
    &-link {
        padding: 0;
        :hover, :active {
            border: 2px solid $font-gold;
            svg path {
                fill: $font-gold;
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid #fff;
            border-radius: 100%;
            transition: 0.5s;
            :hover {
                border: none;
            }
        }
    }
}