.form {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s all;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  &_active {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__block {
    padding: 91px 235px;
    position: relative;
    width: 1440px;
    height: 845px;
    text-align: center;
    background-color: #fff;
    z-index: 3;
  }
  &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.75;
  }
  &__close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    right: 30px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      width: 34px;
      height: 1px;
      left: -5px;
      top: 12px;
      transform: rotate(45deg);
      background-color: #030303;
    }
    &:after {
      content: '';
      position: absolute;
      width: 36px;
      height: 1px;
      top: 12px;
      right: -5px;
      transform: rotate(-45deg);
      background-color: #030303;
    }
  }
  form {
    display: grid;
    grid-template-columns: 400px 530px;
    justify-content: space-between;
  }
  &__data {
    text-align: left;
  }
  &__logo {
    display: block;
    width: 85px;
    height: 41px;
     path {
       fill: $font-gold;
     }
  }
  &__title {
    margin: 0;
    margin-top: 2px;
    font-family: Forum;
    font-weight: 100;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: $font-gold;
    text-align: left;
  }
  &__text {
    margin-top: 13px;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    &_red {
      color: $dark-red;
    }
  }
  &__divider {
    margin-top: 10px;
    width: 100%;
    height: 3px;
    background-color: $dark-red;
  }
  &__overview {
    border: 1px solid #030303;
  }
}