.gallery {
  position: relative;
  height: 2200px;
  padding: 75px 0 0 0;
  overflow-y: hidden;
  &__title {
    color: #fff;
  }
  &__wrapper {
    width: 100%;
    display: inline-block;
    columns: 3 auto;
    margin-top: 75px;
    :nth-child(1) {
      margin-top: 50px;
    }
    :nth-child(11) {
      margin-top: 50px;
    }
  }
  &__img {
    width: 456px;
    margin-left: 9px;
    margin-bottom: 24px;
  }
  &__gradient {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    width: 100%;
    height: 360px;
  }
}