.header {
  display: flex;
  align-items: center;
  height: 150px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    max-width: 777px;
    &-wrapper {
      display: flex;
      :nth-child(6) {
        margin: 0;
      }
    }
    &-link {
      margin-right: 56px;
    }
  }
}