@media (max-width: 1439px) {
  .container {
    width: 984px;
  }
  .header {
    height: 130px;
    &__nav {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
  .welcome {
    min-height: 585px;
    margin-top: -1px;
    padding: 0 20px;
    &__slider {
      top: 0;
      width: 700px;
      height: 584px;
      &-img {
        background-size: 100% 113%;
        background-position: 0 0;
        height: 79%;
      }
      &-panel {
        width: 79%;
      }
      &-point {
        width: 12px;
        height: 12px;
      }
      &-digits {
        font-size: 20px;
      }
    }
    &__title {
      font-size: 50px;
      padding-top: 49px;
    }
    &__descr {
      font-size: 24px;
    }
    &__btn {
      width: 300px;
      height: 60px;
      margin-top: 50px;
      font-size: 20px;
    }
  }
  .visiting {
    padding: 60px 0;
    &__title {
      font-size: 50px;
      line-height: 75px;
    }
    &__wrapper {
      justify-content: center;
      margin-top: 85px;
      gap: 59px 103px;
      :nth-child(3) {
        h3 {
          font-size: 25px;
        }
      }
    }
    &__item {
      width: 34%;
      &-title {
        font-size: 28px;
        line-height: 31px;
        &:before {
          width: 46%;
        }
      }
      &-descr {
        font-size: 20px;
        line-height: 26px;
        span {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  .explore {
    padding: 60px 0;
    &__title {
      font-size: 50px;
      line-height: 75px;
      &:before {
        bottom: -24px;
      }
    }
    &__wrapper {
      flex-direction: column;
    }
    &__text {
      margin-top: 82px;
      font-size: 20px;
      line-height: 38px;
      p {
        margin: 0;
      }
      :nth-child(3) {
        display: none;
      }
    }
    &__img {
      margin: 0 auto;
      margin-top: 60px;
      width: 73%;
    }
  }
  .video  {
    min-height: 1000px;
    padding: 60px 0;
    &__title {
      font-size: 50px;
      line-height: 75px;
    }
    &__text {
      display: none;
    }
    &__player {
      margin-top: 40px;
      height: 500px;
    }
    &__youtube iframe {
      height: 175px;
      margin-right: 37px;
    }
    &__controls {
      padding: 0 32px;
      &-volume {
        width: 40px;
        margin-right: -23px;
        img {
          width: 26px;
          height: 20px;
          margin-top: 4px;
        }
      }
      &-fullscreen {
        img {
          width: 26px;
          height: 26px;
        }
      }
      &-play {
        img {
          width: 152px;
          height: 152px;
        }
      }
    }
    &__time {
      width: 61%;
    }
    &__volume {
      width: 15%;
      margin-left: 17px;
    }
  }
  .gallery {
    height: 1460px;
    padding-top: 60px;
    &__title {
      font-size: 50px;
    }
    &__wrapper {
      margin-top: 60px;
    }
  }
}
@media (max-width: 1023px) {
  .container {
    width: 728px;
  }
  .header {
    height: 110px;
  }
  .welcome {
    min-height: 862px;
    &__text {
      text-align: center;
    }
    &__title {
      padding-top: 0;
      font-size: 40px;
      line-height: 60px;
    }
    &__descr {
      font-size: 20px;
    }
    &__btn {
      display: none;
    }
    &__slider {
      margin: 0 auto;
      position: relative;
      width: 100%;
      margin-top: 45px;
      &-gradient {
        display: none;
      }
      &-panel {
        position: relative;
        margin: 0 auto;
        width: 76%;
        height: 103px;
      }
      &-img {
        height: 93%;
        background-size: 100%;
      }
    }
    &__menu {
      width: 100%;
      &-divider {
        display: block;
      }
    }
    &__nav-imgs {
      display: grid;
    }
  }
  ul.welcome__social {
    display: flex;
  }
  .visiting {
    min-height: 1227px;
    padding: 38px 0 0 0;
    &__title {
      font-size: 40px;
      line-height: 60px;
    }
    &__wrapper {
      margin-top: 65px;
      gap: 41px 59px;
      :nth-child(3) {
        h3 {
          font-size: 22px;
          line-height: 24px;
          letter-spacing: 3px;
        }
      }
    }
    &__item {
      width: 38%;
      &-title {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 3px;
        &:before {
          width: 53%;
        }
      }
    }
  }
  .explore {
    padding: 40px 0;
    &__title {
      font-size: 40px;
      line-height: 60px;
    }
    &__text {
      display: none;
    }
    &__img {
      width: 100%;
    }
  }
  .video {
    min-height: 837px;
    padding: 40px 0 80px 0;
    &__title {
      font-size: 40px;
      line-height: 60px;
    }
    &__player {
      margin-top: 20px;
      height: 386px;
    }
    &__youtube {
      margin-top: 18px;
      column-gap: 20px;
      :nth-child(3) {
        display: none;
      }
      iframe {
        margin: 0;
        height: 200px;
      }
    }
    &__controls {
      height: 14%;
      padding: 0px 24px;
      &-play {
        top: 32%;
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
    &__time {
      position: absolute;
      top: -8px;
      left: 0;
      width: 100%;
    }
    &__volume {
      width: 74%;
    }
    &__slider {
      margin-top: 20px;
      width: 205px;
    }
  }
  .gallery {
    height: 1220px;
    padding-top: 40px;
    &__title {
      font-size: 40px;
      line-height: 60px;
    }
    &__wrapper {
      columns: 2 auto;
      margin-top: 40px;
      :nth-child(11) {
        margin-top: 0px;
      }
    }
  }
}
@media (max-width: 767px) {
  .container {
    width: 380px;
  }
  .header {
    height: 90px;
    &__logo {
      width: 140px;
      &-icon {
        width: 32px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
  .welcome {
    min-height: 545px;
    &__title {
      font-size: 28px;
      line-height: 40px;
      margin-top: 6px;
    }
    &__descr {
      margin-top: 25px;
      font-size: 16px;
      line-height: 19px;
    }
    &__slider {
      margin-top: 48px;
      height: 310px;
      &-panel {
        padding: 0px 25px;
        height: 75px;
      }
      &-digits {
        font-size: 16px;
        letter-spacing: 1px;
      }
      &-points {
        width: 30%;
      }
      &-point {
        width: 7px;
        height: 7px;
      }
      &-arrows {
        width: 60px;
      }
      &-prev, &-next {
        width: 30px;
      }
    }
    &__nav-imgs {
      height: 95px;
      grid-template: 95px / repeat(3, minmax(auto, 95px));
      gap: 12px;
      img {
        width: 100%;
        height: 100%;
      }
      .long {
        grid-column: 1 / 2;
      }
    }
    &__menu-divider {
      margin-top: 20px;
    }
    ul.welcome__social {
      width: 260px;
      margin-top: 24px;
    }
  }
  .visiting {
    padding: 39px 0;
    &__title {
      font-size: 28px;
      line-height: 40px;
    }
    &__wrapper {
      gap: 38px 59px;
    }
    &__item {
      width: 73%;
      &-title {
        margin-top: 17px;
      }
      &-descr {
        font-size: 16px;
      }
    }
  }
  .explore {
    min-height: 420px;
    padding: 40px 0;
    &__title {
      font-size: 28px;
      line-height: 40px;
    }
  }
  .video {
    min-height: 551px;
    padding: 36px 0 40px 0;
    &__title {
      font-size: 28px;
      line-height: 40px;
    }
    &__player {
      height: 224px;
    }
    &__controls {
      height: 22%;
      padding: 0 13px;
      input {
        height: 5px;
      }
      &-playpause {
        height: 20px;
        img {
          width: 16px;
          height: 20px;
        }
      }
      &-volume {
        height: 14px;
        margin: 0;
        img {
          width: 18px;
          height: 14px;
          margin: 0;
        }
      }
      &-fullscreen {
        height: 18px;
        img {
          width: 18px;
          height: 18px;
        }
      }
      &-play {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    &__time {
      top: -5px;
    }
    &__volume {
      width: 57%;
      margin: 0;
    }
    &__youtube {
      margin-top: 40px;
      iframe {
        width: 180px;
        height: 100px;
      }
    }
    &__slider {
      width: 190px;
      margin-top: 40px;
      &-point {
        width: 8px;
        height: 8px;
      }
      &-prev, &-next {
        svg {
          width: 7px;
          height: 8px;
        }
      }
    }
  }
  .gallery {
    height: 757px;
    &__title {
      font-size: 28px;
      line-height: 40px;
    }
  }
}
@media (max-width: 419px) {
  .container {
    width: 95%;
  }
  .welcome {
    &__slider {
      height: 250px;
      &-panel {
        width: 100%;
      }
    }
  }
  .video {
    &__youtube iframe {
      width: 45%;
    }
  }
}