@media (max-width: 1440px) {
  .container {
    width: 984px;
  }
  .header {
    height: 130px;
    &__nav {
      display: none;
    }
    .hamburger {
      display: flex;
    }
  }
  .welcome {
    min-height: 585px;
    margin-top: -1px;
    padding: 0 20px;
    &__slider {
      top: 0;
      width: 700px;
      height: 584px;
      &-img {
        background-size: 100% 113%;
        background-position: 0 0;
        height: 79%;
      }
      &-panel {
        width: 79%;
      }
      &-point {
        width: 12px;
        height: 12px;
      }
      &-digits {
        font-size: 20px;
      }
    }
    &__title {
      font-size: 50px;
      padding-top: 49px;
    }
    &__descr {
      font-size: 24px;
    }
    &__btn {
      width: 300px;
      height: 60px;
      margin-top: 50px;
      font-size: 20px;
    }
  }
}