.nav {
    &__wrapper {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__link {
        font-weight: 100;
        font-size: 22px;
        line-height: 50px;
        letter-spacing: 2px;
        a {
            text-decoration: none;
            color: #FFFFFF;
            transition: 0.5s all;
        }
        :hover {
            color: $font-gold;
        }
        :active {
            color: #7E6C51;
        }
    }
}