.visiting {
    height: 1264px;
    padding: 75px 0;
    &__wrapper {
        margin-top: 103px;
        display: flex;
        flex-wrap: wrap;
        gap: 71px 60px;
    }
    &__item {
        display: block;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            .visiting__item-title {
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__item-img {
        width: 100%;
    }
    &__item-title {
        margin-top: 21px;
        &::before {
            width: 68%;
            bottom: -11px;
        }
    }
    &__item-descr {
        margin-top: 20px;
        font-weight: 200;
        font-size: 22px;
        line-height: 32px;
        color: #000000;
        span {
            font-size: 18px;
        }
    }
}