.welcome {
    min-height: 810px;
    background: $bg-dark;
    padding: 150px 0 245px 0;
    overflow-x: hidden;
    position: relative;
    .container {
        height: 100%;
        position: relative;
    }
    &__text {
        position: relative;
        z-index: 1;
    }
    &__title {
        font-family: "Forum" ,serif;
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #FFFFFF;
    }
    &__descr {
        margin: 0;
        margin-top: 28px;
        font-weight: 100;
        font-size: 28px;
        letter-spacing: 2.2px;
        color: #FFFFFF;
    }
    &__btn {
        display: flex;
        width: 360px;
        height: 75px;
        background-color: $dark-red;
        margin-top: 76px;
        font-size: 22px;
        font-weight: 100;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        &:hover, &:active {
            background-color: $font-gold;
        }
    }
    &__slider {
        position: absolute;
        z-index: 0;
        width: 69%;
        height: 810px;
        top: -150px;
        right: 0;
        &-img {
            width: 100%;
            height: 93%;
            background: url('../assets/img/slider/1.jpg') center center / cover no-repeat;
        }
        &-gradient {
            position: absolute;
            top: 0;
            left: -1px;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
        }
        &-panel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            padding: 0 75px;
            bottom: 0;
            right: 0;
            width: 60%;
            height: 120px;
            background-color: #030303;
        }
        &-digits {
            font-size: 22px;
            font-weight: 300;
            color: #FFFFFF;
            line-height: 22px;
            letter-spacing: 2px;
        }
        &-points {
            display: flex;
            justify-content: space-between;
            width: 40%;
        }
        &-point {
            width: 16px;
            height: 16px;
            background-color: #FFF;
            cursor: pointer;
            transition: 0.3s all;
            &_active {
                background-color: #D2B183;
            }
            &:hover {
                background-color: #9D8665;
            }
        }
        &-arrows {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-prev, &-next {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            path {
                transition: 0.3s all;
            }
            &:hover {
                path {
                    fill: #9D8665;
                }
            }
        }
        &-next {
            margin-bottom: 2px;
        }
    }
    &__menu {
        position: absolute;
        width: 297px;
        height: 100%;
        padding: 22px 55px 0px 55px;
        background-color: #000;
        left: -100%;
        z-index: 4;
        transition: 0.5s all;
        &-active {
            left: 0;
        }
        &-divider {
            display: none;
            height: 1px;
            margin-top: 33px;
        }
    }
    &__nav-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__nav-link {
        position: relative;
        font-size: 20px;
        line-height: 48px;
        &-arrow {
            position: absolute;
            width: 7px;
            height: 12px;
            top: 50%;
            transform: translateY(-30%);
            left: 113px;
        }
    }
    &__nav-imgs {
        width: 100%;
        height: 375px;
        margin: 0 auto;
        margin-top: 25px;
        display: grid;
        grid-template: 194px 161px / repeat(2, 319px);
        gap: 20px;
        display: none;
        img {
            width: 100%;
        }
        .long {
            grid-column: 1 / 3;
        }
    }
}
ul.welcome__social{
    display: none;
    width: 337px;
    margin: 0 auto;
    margin-top: 36px;
    padding: 0;
}